<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chronopanel</title>

    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <environment names="Development">
        <link rel="stylesheet" href="~/css/layout.css" />
    </environment>
    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
        <link rel="stylesheet" href="~/css/layout.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("styles", required: false)
</head>
<body>
    <header>
        <div id="title">
            <a asp-action="Index" asp-controller="Home">
                <img id="logo" src="~/images/logo.png" alt="Logo for Chronopanel–clockface representing time followed by word 'panel'" />
            </a>
        </div>
        <div id="description">The most accessible way to display time.</div>
        <hr />
    </header>
    @RenderBody()
    <footer>
        <hr />
        &copy; @DateTimeOffset.Now.Year, <a href="https://www.billbogaiv.com/">Bill Boga</a>.
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
